<!DOCTYPE html>
<html lang="en">

<% include header %>

    <body data-spy="scroll" data-offset="0" data-target="#navbar-main">


        <% include nav %>

        <div id="map-view" class="container">
        <!-- MAP will be placed here by datamaps.world.js -->
        </div>

        <% include footer %>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="datamaps.world.min.js"></script>
        <script type="text/javascript" src="/build/country-bundle.js"></script>
    </body>

</html>
