<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Dan Mahoney</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <!--<link href="css/country.css" rel="stylesheet">-->
    <link href="css/animate-custom.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- jQuery and bootstrap.js for navigation header -->
    <script type="text/javascript" src="js/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">

<% include nav %>

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
    <header class="clearfix">
        <h1><span class="icon"></span></h1>
        <p>Welcome to My Page!</p>
    </header>
</div>
<!-- /headerwrap -->

<!-- ==== ABOUT ==== -->
<div class="container" id="about" name="about">
    <div class="row white">
        <br>
        <h1 class="centered">A LITTLE ABOUT MYSELF</h1>
        <hr>

        <div class="col-lg-6">
            <p>Hello, welcome to my page! My name is Dan Mahoney I am a software enginner in D.C. metro area. I am a
                Pittsburgh native, and I recently reloacted here. I graduated from the University of Pittsburgh with a
                Bachelor of Science degree
                in Computer Science. I consider myself a full stack engineer with experience throughout all levels of
                the tech stack. Most of my professional experience is creating java web applications using multiple
                frameworks (Spring Boot,
                Spring MVC, JAXB, JAX-RS, and JAX-WS) with various front and backend technologies (Please see my resume
                link above).</p>
        </div>
        <!-- col-lg-6 -->

        <div class="col-lg-6">
            <p>Although java is the primary language in my professional life I do enjoy using/learning new skills. Most
                recently I have started to focus more on my front end skills. In particular Node.js and ES6 JavaScript.
                Additionally I have been
                tinkering with AWS, and that is what I am using to host this site! On a personal note my fiancé and I
                recently adopted a brown tabby cat named Jeff. This is my first cat, and in my childhood I grew up with
                dogs. I think its time
                dog people start giving cats a chance. They are really awesome!</p>
        </div>
        <!-- col-lg-6 -->
    </div>
    <!-- row -->
</div>
<!-- container -->

<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
    <div class="row">
        <div class="col-lg-4 callout">
            <span class="icon icon-stack"></span>
            <h2><a href="/todo">Sentence Generator</a></h2>
            <p>Future description about sentence generator module. </p>
        </div>
        <!-- col-lg-4 -->

        <div class="col-lg-4 callout">
            <span class="icon icon-eye"></span>
            <h2><a href="/country-widget">World Domain Map</a></h2>
            <p>Hover over each country to view the domain names, and calling codes. I am using the <a
                        href="https://datamaps.github.io/" target="_blank">DataMaps</a> library to draw a map of the
                world, and calling a <a href="http://restcountries.eu/"
                                        target="_blank">REST Countries API</a> to get specific country information. I am
                also using nodeJS with the Express framework to listen for requests.</p>
        </div>
        <!-- col-lg-4 -->

        <div class="col-lg-4 callout">
            <span class="icon icon-heart"></span>
            <h2>Build &#38 Dev Tools</h2>
            <p>webpack and Babel to bundle and transpile ES6 modules. Also using gulpjs for devlopment tasks.</p>
        </div>
        <!-- col-lg-4 -->
    </div>
    <!-- row -->
</div>
<!-- greywrap -->

<!-- ==== SECTION DIVIDER1 -->
<section class="section-divider textdivider divider1">
    <div class="container">

    </div>
    <!-- container -->
</section>
<!-- section -->

<div class="container" id="contact" name="contact">
    <div class="row">
        <br>
        <h1 class="centered">THANKS FOR VISITING ME</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-4">
            <h3>Contact Information</h3>
            <p><span class="icon icon-twitter"></span> <a
                        href="https://www.linkedin.com/in/daniel-mahoney-a53222a2?trk=hp-identity-name" target="_blank">
                    @linkedin</a> <br/>
                <span class="icon icon-facebook"></span> <a href="https://github.com/dpm25" target="_blank">
                    @github </a> <br/>
            </p>
        </div>
        <!-- col -->

        <div class="col-lg-4">
            <h3>Email Me</h3>
            <p>Feel free to contact me regarding job opportunities, tech meet ups, or any other professional matter.
                Don't worry I won't spam you!</p>
        </div>
        <!-- col -->

        <div class="col-lg-4">
            <p>
            <form id="contact-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-4 control-label"></label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder=" email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment" class="col-lg-4 control-label"></label>
                    <div class="col-lg-10">
                        <textarea type="text" class="form-control" rows="5" id="comment" name="comment"
                                  placeholder=" comments"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-success">send</button>
                    </div>
                </div>
            </form>
            <!-- form -->
            <div id="email-response-message">
            </div>
            </p>
        </div>
        <!-- col -->

    </div>
    <!-- row -->
</div>
<!-- container -->

<% include footer %>

<!-- custom js for index page -->
<!-- ================================================== -->
<script type="text/javascript" src="/build/index-bundle.js"></script>
</body>

</html>
