<!DOCTYPE html>
<html lang="en">

<% include header %>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">


    <div id="navbar-main">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
                    <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <% for(var i=0; i<nav.length; i++) {%>
                            <li>
                                <a id="<%=nav[i].id%>" href="<%=nav[i].href%>">
                                    <%=nav[i].title%>
                                </a>
                            </li>
                            <%}%>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>



    <!-- ==== HEADERWRAP ==== -->
    <div id="headerwrap" name="home">
        <header class="clearfix">
            <h1><span class="icon icon-shield"></span></h1>
            <p>Welcome to My Page!</p>
        </header>
    </div>
    <!-- /headerwrap -->

    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
        <div class="row white">
            <br>
            <h1 class="centered">A LITTLE ABOUT MYSELF</h1>
            <hr>

            <div class="col-lg-6">
                <p>Hello, welcome to my page! My name is Dan Mahoney I am a software enginner in D.C. metro area. I am a Pittsburgh native, and I recently reloacted here. I graduated from the University of Pittsburgh with a Bachelor of Science degree in
                    Computer Science. I consider myself a full stack engineer with experience throughout all levels of the tech stack. Most of my professional experience is creating java web applications using multiple frameworks (Spring Boot, Spring
                    MVC, JAXB, JAX-RS, and JAX-WS) with various front and backend technologies (Please see my resume link above).</p>
            </div>
            <!-- col-lg-6 -->

            <div class="col-lg-6">
                <p>Although java is the primary language in my professional life I do enjoy using/learning new skills. Most recently I have started to focus more on my front end skills. In particular Node.js and ES6 JavaScript. Additionally I have been tinkering
                    with AWS, and that is what I am using to host this site! On a personal note my fiancé and I recently adopted a brown tabby cat named Jeff. This is my first cat, and in my childhood I grew up with dogs. I think its time dog people start
                    giving cats a chance. They are really awesome!</p>
            </div>
            <!-- col-lg-6 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->

    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap">
        <div class="row">
            <div class="col-lg-4 callout">
                <span class="icon icon-stack"></span>
                <h2>Sentence Generator</h2>
                <p>Future description about sentence generator module. </p>
            </div>
            <!-- col-lg-4 -->

            <div class="col-lg-4 callout">
                <span class="icon icon-eye"></span>
                <h2>World Domain Map</h2>
                <p>Future description about the world domain extension map. </p>
            </div>
            <!-- col-lg-4 -->

            <div class="col-lg-4 callout">
                <span class="icon icon-heart"></span>
                <h2>Undecided</h2>
                <p>Future desctiprtion of something cool. </p>
            </div>
            <!-- col-lg-4 -->
        </div>
        <!-- row -->
    </div>
    <!-- greywrap -->

    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
        <div class="container">

        </div>
        <!-- container -->
    </section>
    <!-- section -->

    <div class="container" id="contact" name="contact">
        <div class="row">
            <br>
            <h1 class="centered">THANKS FOR VISITING ME</h1>
            <hr>
            <br>
            <br>
            <div class="col-lg-4">
                <h3>Contact Information</h3>
                <p> <span class="icon icon-twitter"></span> <a href="https://www.linkedin.com/in/daniel-mahoney-a53222a2?trk=hp-identity-name" target="_blank"> @linkedin</a> <br/>
                    <span class="icon icon-facebook"></span> <a href="https://github.com/dpm25" target="_blank"> @github </a> <br/>
                </p>
            </div>
            <!-- col -->

            <div class="col-lg-4">
                <h3>Email Me</h3>
                <p>Feel free to contact me regarding job opportunities, tech meet ups, or any other professional matter! Nothing is hooked up yet though so the email will not send!</p>
            </div>
            <!-- col -->

            <div class="col-lg-4">
                <p>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="text1" class="col-lg-4 control-label"></label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="text1" placeholder="your name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-4 control-label"></label>
                            <div class="col-lg-10">
                                <input type="email" class="form-control" id="inputEmail1" placeholder="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="col-lg-4 control-label"></label>
                            <div class="col-lg-10">
                                <textarea type="text" class="form-control" rows="5" id="comment" placeholder="comments"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-success">send</button>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </p>
            </div>
            <!-- col -->

        </div>
        <!-- row -->

    </div>
    <!-- container -->

    <% include footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/lib/retina.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>
