<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Dan Mahoney</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/todo.css" rel="stylesheet">
    <link href="css/animate-custom.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- jQuery and bootstrap.js for navigation header -->
    <script type="text/javascript" src="js/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">

<% include nav %>

<div id="todo-view" class="container">
    <div class="row">w
        <div class="col-lg-9 col-lg-offset-1">
            <div class="input-group">
                <input id="task" class="form-control" />
                <span class="input-group-btn">
                    <button id="add" class="btn btn-default" type="button">Add!</button>
                </span>
            </div><!-- /input-group -->
            <div class="row">
                <hr>
                <div id="todos"></div>
            </div>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div> <!-- /.container -->

<% include footer %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/build/todo-bundle.js"></script>
</body>

</html>
