/* ==========================================================================
   Country Map Base Styles
   ========================================================================== */
#map-view {
  position: relative;
  width: 800px;
  height: 700px;
}
